<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildID</key>
	<string>64EBBFE2-6EFF-11ED-B2D2-88B17C625ECF</string>
	<key>ProductBuildVersion</key>
	<string>20B110</string>
	<key>ProductName</key>
	<string>iPhone OS</string>
	<key>ProductVersion</key>
	<string>16.1.2</string>
	<key>ReleaseType</key>
	<string>Internal</string>
	<key>SystemImageID</key>
	<string>4D210657-0785-45BA-B7C1-37EECC7F84E4</string>
</dict>
</plist>
